.container {
    width: 500px;
    clear: both;
    left: 50%;
    top: 50%;
    margin-left: -20%;
    position: absolute;
    margin-top: -15%;
}

.container input {
    width: 100%;
    clear: both;
}

#error_message {
    color: red;
}